
/* navbar start */
.navbarLoginButton{
    background-color: rgb(255, 191, 108);
    
}
.navbarHomeText{
    color: rgb(248, 150, 3);
}
/* navbar end */

/* Welcome start */
.welcomeCard{
    
    color: black;
    
}

.cardWelcome{
    background-color: rgb(252, 236, 236);
}


.carousel-item {
      position: relative;
      height: 400px; }
      
    .carousel-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
      color: #fff;
    }
    .overlay .row {
      height: 100%;
    }
    .overlay .col {
      display: flex;
      align-items: center;
      justify-content: center;
    } 
    /* welcome end */



  .onlineCounseling{
    background-color: antiquewhite;
  }
  .adviceByPhone{
    background-color:rgb(186, 202, 202);
  }
  .directCounseling{
    background-color:rgb(86, 255, 199);
  }
  .trerapyText{
    color: rgb(248, 150, 3);}

    .card.active {
      border: 2px solid #007bff;
    }
    .easyingCardBody{
      background-color: lightskyblue;
    }


    /* Mental can not messurement start */
    .icon-circle {
      width: 40px;
      height: 40px;
      background-color: #f8d7da; /* Circle background color */
      color: #721c24; /* Icon color */
      border-radius: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px; /* Adjust the size of the icon */
    }
    .text-below {
      /* margin-top: 20px; */
      text-align: center;
    }
    /* Mental can not messurement end */
    .workProcessText{
      color: rgb(255, 145, 0);
    }

     .circle {
      width: 100px;
      height: 100px;
      
      /* border: 5px solid #007bff; */
      background-color: rgb(160, 156, 156);
      border-radius: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
       font-size: 36px;
      position: relative;
  }

 
  .circle::after {
      content: attr(data-number);
      position: absolute;
      top: -5px; /* Adjust position to be on the border */
      left: 80%;
      transform: translateX(-50%);
      background-color: rgb(224, 204, 243);
     
      font-size: 10px;
      padding: 2px 5px;
      border-radius: 40%;
      border: 1px solid #000000;
  }
  .circle-text {
      text-align: center;
      margin-top: 10px;
  }

  /* Head over my corner start */

  .image-overlay {
    position: relative;
    width: 100%;
    
  }
  .image-overlay img {
    width: 100%;
    height: auto;
  }
  .overlay-text {
    position: absolute;
     top: 40%; 
    left: 40%; 
    transform: translate(-50%, -50%);
    color:rgb(19, 1, 14);
    background-color: darkgray;
    text-align: left;
  }
  /* Head over my corner end */

  /* get location easy start */
  .getLocationParagram{
    color: rgb(255, 149, 11);
  }
  /* get location easy end */
 
    