
/* navbar start */
.navbarLoginButton{
    background-color: rgb(255, 191, 108);
    
}
.navbarHomeText{
    color: rgb(248, 150, 3);
}
/* navbar end */
.welcomeCard{
    
    color: black;
    
}
.cardWelcome{
    background-color: rgb(252, 236, 236);
}